<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <!-- Inclure la bibliothèque reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <!-- Ajouter le widget reCAPTCHA -->
        <div class="g-recaptcha" data-sitekey="6LfK67opAAAAALQhWd-COopNLWuoq0_z_XN0QcHe"></div><br><br>

        <button type="submit">Login</button>
    </form>
</body>
</html>
